* {
  margin: 0;
}

header {
  background-color: #f55a5a;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 20px 0;
}

main {
  padding: 3rem;
}

section {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #f5f5f5;
}

section:last-of-type {
  border-bottom: none;
}

.paragraph-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paragraph-section .location {
  display: flex;
  gap: 10px;
}

.paragraph-section .location .country {
  color: #2b283a;
  font-family: Inter;
  font-size: 10.24px;
  font-weight: 400;
  letter-spacing: 1.741px;
}

.paragraph-section .location a {
  color: #918e9b;
  font-family: Inter;
  font-size: 10.24px;
  font-weight: 400;
  text-decoration-line: underline;
}

.section-title {
  color: #2b283a;
  font-family: Inter;
  font-size: 25px;
  font-weight: 700;
  margin: 1rem 0;
}

.section-date {
  color: #2b283a;
  font-family: Inter;
  font-size: 10.24px;
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.section-description {
  color: #2b283a;
  font-family: Inter;
  font-size: 10.24px;
  font-weight: 400;
  line-height: 150%;
  max-width: 30rem;
}
